.btn {
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  background-color: $bbRed;
  color: #fff;
  border: none;
  border-radius: 4px;
  &:hover {
    background-color: $bbDarkRed;
  }
}
