@import "../../assets/styles/index";

.auth__container {
  width: 400px;

  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;

  h1 {
    margin-bottom: 24px;
  }
}

.auth__logo {
  text-align: center;
  img {
    height: 100px;
    width: 100px;
  }
}

.auth__body {
  margin: 0 auto;
  max-width: 320px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__input {
  margin-bottom: 8px;
}

.auth__btn {
  margin: 16px 0 40px;
}
